<div class="container">
  <div class="row h-500">
    <div class="col-xs-12 col-md-6">
      <div class="banner-text">
        <h1>Elever des poules peut vous changer la vie</h1>
        <h2>"Découvrez pourquoi aller chercher ses oeufs, chaque jour, est un vrai plaisir"</h2>
        <a class="btn btn-primary btn-lg" href="#">Découvrez Poulax</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class= "banner-img">


        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
              <p>"Nous sommes ravis d’avoir découvert Poulax !
                Nos enfants ont pu bénéficier des joies de la campagne avec Colette, notre poule de la semaine.
              Je recommande !" Claire</p>
            </div>
            <div class="carousel-item" data-interval="5000">
              <p>"Merci à Poulax pour ces délicieux petit-dej que nous avons pu prendre grâce à notre poule Corinne" Marc</p>
            </div>
            <div class="carousel-item" data-interval="5000">
              <p>"Juste génial ! Retrouver les plaisirs d'enfance et aller chercher ses oeufs frais, le bonheur, merci Poulax!" Thibaud</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
