.form-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  background: $nude;
  padding: 10px 30px 5px;
}

.form-actions {
  margin: 14px;
}

.f.input {
  font-size: 2px;
}

.form-control-index {
  width: 80%;
  margin-left: 30px;
}
